# Ignore Terraform directories and state files
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Ignore large executable files
*.exe

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore system files
.DS_Store